.input-wrapper{
  width: 100%;
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
}

.inputFeild{
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
  border: 1px solid #00457C;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
}

.inputFeild:focus {
  outline: none;
  border-color: #06294e; 
  box-shadow: 0 0 0 3px rgba(43,108,176,0.08);
}

.form-label{
  font-size: 0.8rem;
  font-weight: 500;
}