.mOS-detailsHero{
  width: 100%;
  padding: 10px 14px 10px;
  display: grid;
  grid-template-columns: 86px 1fr;
  gap: 12px;
  margin-top: 1rem;
}

.mOS-detailsHero-icon{
  width: 86px;
  height: 86px;
  border-radius: 20px;
  background: #eaeaea;
  overflow: hidden;
}

.mOS-detailsHero-iconImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mOS-detailsHero-title{
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 4px;
}

.mOS-detailsHero-subtitle{
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 2px;
}

.mOS-detailsHero-action{
  margin-top: 10px;
}
