.MBr-main-frame-contr {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}


.MBr-scroll-area {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  background-color: aliceblue;
}