.MBr-url-searchbox-container{
    width: 100%;
    height: 4rem;
    padding: 0.7rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.325);
}

.buttons-section-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.forward-back-nav-btn{
    width: 1.3rem;
    height: 1.3rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forward-back-nav-btn img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.searchbox-contr{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.MBr-url-search-field{
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 2rem;
    font-size: 1.1rem;
    border-radius: 50px;
    color: black;
    border: none;
    background-color: #eee;
}

.search-icon{
    width: 1.1rem;
    height: 1.1rem;
    background: none;
    border: none;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon img{
    width: 100%;
    height: 100%;

}