.bottom-nav{
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.151);
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-nav-link{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.15rem;
  font-size: 0.7rem;
}

.nav-icon-normal{
  width: 1.6rem;
}

.transaction-icon{
  width: 3rem;
}