.MBr-tabs-frame-contr{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.top-section{
    background-color: #eee;
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MBr-tabs-container{
    display: flex;
    align-items: stretch;
    max-width: 85%;
    padding-left: 2rem;
    overflow: hidden; 
    height: 100%;
}

.new-tab-btn{
    margin-left: 0.5rem;
    min-width: 40px;
    width: 1rem;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.new-tab-btn img{
    width: 1.1rem;
    height: 100%;
    object-fit: contain;
}

.exit-action-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.4rem;
    height: 100%;
}


.exit-action-btn{
    min-width: 40px;
    width: 1rem;
    height: 100%;
    background: none;
    border: none;    
    cursor: pointer;
}

.exit-action-btn:hover{
    background-color: rgb(208, 203, 203);
}

.exit-btn:hover{
    background-color: red;
}
.exit-action-btn img{
    width: 1.1rem;
    height: 100%;
    object-fit: contain;    
}

.MBr-page-content-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    scrollbar-width: none;
    position: relative;
}

