
.form-frame{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-wrapper {
  opacity: 1;
  transition: opacity 0.05s ease-in-out;
}

.form-wrapper.hidden {
  opacity: 0;
}