.about-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: aliceblue;
  padding: 0 1rem;
}

.about-page p{
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  transform: translateY(500%);
}