.page-description {
  font-size: 0.9rem;
  color: #000000;
  margin-top: 2.5rem;
}

.help-div{
  width: 100%;
  height: 100%;
  padding: 0 1rem;  
  background-color: aliceblue;
}

.help-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.help-list li {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #ec0404;
}