.toggle-container{
  width: 100%;
  background-color: white;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.toggle-btns{
  width: 50%;
  background: none;
  padding: 0.6rem;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  z-index: 5;
  height: 100%;
  position: relative;
  cursor: pointer;
  color: rgb(58, 55, 55);
}

.toggle-btns.active{
  color: white;
}

.toggle-switch{
  width: 50%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #426ce0;
  height: 100%;
  border-radius: 50px;
  z-index: 0;
  transition: all 0.15s ease-in-out;
}

.toggle-switch.active{
  transform: translateX(100%);
  color: white;
}