
.rps-header, .rps-sub-header{
  width: 100%;
  height: 5.5rem ;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 1rem;
}

.rps-header{
  justify-content: space-between;
  gap: 0;  
}


.nav-bar-hamburger{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bar-hamburger-line{
width: 1.6rem;
height: 0.16rem;
background-color:#00457C;
margin-bottom: 5px;
border-radius: 50px;
transition: all 0.3s ease-in-out;
}

.nav-bar-hamburger-line:last-child{
  margin-bottom: 0;
}

.nav-bar-hamburger-line{
transition: all 0.3s ease-in-out;
}

  /* Top line */
.nav-bar-hamburger.active .nav-bar-hamburger-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

/* Middle line */
.nav-bar-hamburger.active .nav-bar-hamburger-line:nth-child(2) {
  opacity: 0;
}

/* Bottom line */
.nav-bar-hamburger.active .nav-bar-hamburger-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


/*=================*/

.rps-sub-header{
  align-items: flex-end;
  justify-content: flex-start;
}

.rps-sub-header h2{
  font-size: 1.3rem;
}

.rps-sub-header img{
  width: 2rem;
  height: auto;
}

