.buttons-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.game-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: #fe784319;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.buttons-container h2{
    font-size: 1rem;
    text-align: center;
}