.message-card{
    width: 90%;
    height: 200px;
    min-height: 200px;
    background-color: #feeb431a;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.message-container{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    min-height: 75%;
}

.message-container p{
    font-size: 0.85rem;
    text-align: center;
}

.button-container{
    width: 100%;
    height: 25%;
    min-height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}