.seperator{
    width: 100%;
    height: 1px;
    background-color: rgb(176, 174, 174);
    margin: 1rem auto;
}


.round-score-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-color: #feeb431a;
    color: rgb(6, 8, 52);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.227);
    border-radius: 15px;
    padding: 1rem;
    min-height: 150px;
    gap: 0.3rem;
    margin-top: 3rem;
}

.round-header{
    text-align: center;
    font-size: 0.6rem;
}

.rps-title{
    font-size: 0.8rem;
}

.scores{
    font-weight: normal;
}

.scores span{
    font-weight: 600;
}