.mOS-statsRow{
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.mOS-stat{
  min-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.mOS-stat-top{
  font-size: 0.55rem;
  font-weight: 800;
  opacity: 0.55;
}

.mOS-stat-middle{
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.55;
}

.mOS-stat-bottom{
  font-size: 0.6rem;
  font-weight: 800;
  opacity: 0.55;
  display: flex;
  flex-direction: column;
}
