canvas{
  background-color: rgb(255, 252, 252);
  filter: blur(20%);
  padding: 0.7rem;
  border-radius: 5px;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}