.sq-card-item-contr{
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.091);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  gap: 1.3rem;
  text-decoration: none;
  color: black;
  background-color: white;
}

.sq-top-section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
}

.sq-icon-container{
  width: 2rem;
  height: 2rem;
  background-color: rgb(136, 210, 128);
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sq-icon-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date-tag{
  font-size: 0.6rem;
}

.sq-bottom-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50%;
}

.tag{
  font-size: 0.7rem;
  font-weight: 500;
  text-align: right;
  width: 100%;
}

.amount-tag{
  font-size: 0.9rem;
  margin-top: 0.8rem;
  font-weight: 600;
}