

.opt-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: white;
  width: 90%;
  margin: 0 auto;
  min-height: 10rem;
  padding: 3rem 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.171);
}

.message-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}