.profile-card-contr{
  width: 100%;
  min-height: 15rem;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.199);
  position: relative;
  filter: blur(20%);
}

.profile-top-section{
    width: 100%;
    height: 5rem;
    background: linear-gradient(150deg, rgb(0, 195, 255), rgb(94, 94, 233));
}

.profile-bottom-section{
  display: flex;
  flex-direction: column;
  padding: 2.7rem 1rem 1rem 1rem;
  gap: 0.5rem;
  width: 100%;
  height: 10rem;
}

.profile-photo-contr{
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  top: 2.8rem;
  padding: 0.5rem;
}

.profile-photo-contr img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.profile-card-email{
  color: #0e64aa;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.profile-card-name{
  font-size: 0.8rem;
}