.prog-card-container{
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.075);
  filter: blur(20%);
  color: black;
  text-decoration: none;
}

.prog-card-top-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prog-card-top-section img{
  width: 1.2rem;
}

.prog-card-mid-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.amount-labels{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-labels h3{
  color: #00457C;
}

.amount-labels h2{
  font-size: 1.1rem;
}

.progress-bar-contr{
  width: 100%;
  height: 2px;
  background-color: #5a5959;
  border-radius: 50px;
  position: relative;
}

.progress-bar{
  height: 5px;
  background-color: #00457C;
  box-shadow: 0px 6px 20px #00447cab;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.prog-card-bottom-section {
  display: flex;
  font-size: 0.85rem;
}