.tran-card-item-contr{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 0.8rem;
  border-bottom: 1px solid rgb(204, 204, 206);
  background-color: #ffffff;
  color: black;
}

.tran-card-item-contr:last-child{
  border-bottom: none;
}

.t-card-top-section{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.img-wrapper{
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #00457C;
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tr-date-category-contr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.tr-category{
   font-size: 0.9rem;
}

.tr-category, .tr-amount{
  font-weight: 600;
}

.t-card-bottom-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.p-small{
  font-size: 0.6rem;
}