@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
}

#root{
  height: 100%;
  width: 100%;
}

.rps-app-container{
  width: 100%;
  height: 100%;
}