.mOS-appStoreTopBar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  
}

.mOS-appStoreTopBar-title{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 800;
  text-align: left;
}

.mOS-appStoreTopBar-avatar{
  width: 30px;
  height: 30px;
  border-radius: 999px;
  overflow: hidden;
  background: #e6e6ea;
  display: grid;
  place-items: center;
  cursor: pointer;
  justify-self: end;
}

.mOS-appStoreTopBar-avatarImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mOS-appStoreTopBar-avatarFallback{
  font-size: 1rem;
  font-weight: 900;
  color: rgba(0,0,0,0.55);
}