
.digId-button{
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1rem auto 0;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: var(--text-primary);
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.11);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.digId-button-img{
  width: 1rem;
  height: auto;
}