.digId-label-contr{
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.digId-p-small{
  font-size: 0.8rem;
  max-width: 60%;
  text-wrap: nowrap;
}

.digId-p-link{
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: underline;
  color: black;
}
