.mOS-miniRow{
  width: 100%;
  display: grid;
  grid-template-columns: 44px 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  text-decoration: none;
  color: black;
  background-color: #fafafa;
  border-top: 1px solid rgba(128, 128, 128, 0.104);
}

.mOS-miniRow-icon{
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  background: #eaeaea;
  overflow: hidden;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mOS-miniRow-iconImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mOS-miniRow-name{
  font-size: 0.9rem;
  font-weight: 800;
}

.mOS-miniRow-cat{
  font-size: 0.6rem;
  opacity: 0.7;
}

.mOS-miniRow-action{
  display: flex;
  align-items: center;
}
