
.rps-wide-button{
  width: 180px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 50px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #414af6;
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.11);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.rps-wide-button:active{
    background-color: #780505;
}

.game-button{
    width: 6rem;
    height: 6rem;
    background: none;
    border: none;
}
.game-button img{
    width: 100%;
    height: 100%;
}