

.app-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
    grid-auto-rows: 90px;
    padding: 1rem;
}

.app-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 69px;
    max-height: 69px;
    min-height: 69px;
    min-width: 69px;
    gap: 0.4rem;
    text-decoration: none;
    position: relative;
}

.icon-container{
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 18px rgba(116, 116, 111, 0.165);
    width: 69px;
    height: 69px;
    max-width: 69px;
    max-height: 69px;
    border-radius: 15px;
    display: grid;
    padding: 0.5rem;
}

.icon-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app-name{
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: center;
    text-wrap: nowrap;
    position: absolute;
    bottom: -1rem;
}

/* TABLET VIEW */
.tablet-app-grid-container{
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 90px;
}

/* LAPTOP VIEW  & DESKTOP VIEW */
.laptop-app-grid-container, .desktop-app-grid-container{
    grid-template-columns: repeat(4, 1fr);
    max-width: 33%;
    grid-auto-rows: 90px;
}

.desktop-app-grid-container{
    max-width: 25%;
}