.digId-main-frame-contr {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}


.digId-subpage-contr{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: inherit;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 5rem;
  background-color: var(--portfolio-bg-surface);
}

.no-bottom-nav{
  padding-bottom: 1rem;
}