.MBr-error-page-contr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1.3rem;
}

.MBr-error-message-contr{
    text-align: center;
}

.MBr-error-message-contr h1{
    font-size: 7rem;
    font-weight: 800;
    color: black;
}

.MBr-error-message-contr h2{
    font-size: 2rem;
    font-weight: normal;
    color: rgb(136, 134, 134);
}

.MBr-error-message-contr h4{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(136, 134, 134);
}

.MBr-error-page-back-btn{
    width: 200px;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 2, 28);
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.MBr-error-page-back-btn:hover{
    transform: translateY(-5px);
    background-color: rgb(15, 15, 67);
}