.digId-hero-contr{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    background-color: var(--portfolio-bg-surface);
}

.digId-hero-small{
    gap: 0.2rem;
    height: 10px;
    padding-top: 0;
}

.digId-hero-image{
    width: 8rem;
    height: auto;
}

.digId-hero-img-small{
    width: 3rem;
}

.digId-hero-title{
    font-size: .8rem;
    font-weight: 600;
    color: var(--text-primary); 
}


