@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(10, 88, 190, 0.048);
  position: relative;
}

#root{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.p-small{
  font-size: 0.8rem;
  color: rgb(107, 107, 107);
}
