.screen{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}


.home-screen{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}