.mOS-shotCard{
  flex: 0 0 auto;
  width: 180px;
  height: 350px;
  border-radius: 14px;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.06);
}

.mOS-shotCard-inner{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 72px;
  font-weight: 900;
  color: #d0d0d0;
}

.mOS-shotCard-inner-img{
  width: 170px;
  height: auto;
  object-fit: contain;
}
