.game-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.rps-heading{
    font-size: 1.2rem;
}

.back-img{
    position: absolute;
    bottom: -15px;
    width: 180px;
}